
footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #196ae5;
    color: white;
    text-align: center;
    font-size: large;
  
    
  
  }
  
  .footer-content{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  }
  .footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  }
  .footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
  }
  a{
    color:white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 800;
    }