<div class="doconnect-body">
    <div class="container">
      <!-- <br/>
      
      
        <hr />
        <div style="margin-left: 5%; margin-right: 26%">
          <h1 style="color: darkgreen ; font-size:xx-large; ">About DoConnect</h1>
          <p style="color:black;font-weight: 500">DoConnect’s mission is to share and grow the world’s knowledge. Not all knowledge can be written down, but much of that which can be, still isn't. It remains in people’s heads or only accessible if you know the right people. We want to connect the people who have knowledge to the people who need it, to bring together people with different perspectives so they can understand each other better, and to empower everyone to share their knowledge for the benefit of the rest of the world.</p> 
          </div>  
          <br>  -->
        <div class="col-md-9">
          <!-- <h1 style="font-weight:600"> Post Your Queries Here and Connect To Each-Other</h1> -->
          <img src="https://media.istockphoto.com/id/1170541989/vector/knowledge-or-ideas-transfer.jpg?s=612x612&w=0&k=20&c=vWwy19ZE2Pz_ii3LfwR-mfqay6VTLRIy0_WLobNM2SM=" alt="doconnect" class="center">

        </div>
        <div class="col-md-3">
         
        </div>
   </div>
  </div>
